* {
	box-sizing: border-box;
}

#parent_holder {
	padding-left: 100px;
	padding-right: 100px;
	margin-left: auto;
	margin-right: auto;
} 

#cardholder {
	width: 100%;
	overflow: hidden;
} 

table {
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
}

.header {
	font-size: 16px;
	background-color: #fff;
	border-bottom: 1px solid #000;
	height: 50px;
}

.header th {
	border: none;
	vertical-align: middle;
}

#cardholder .arb { 
	width: 80px;
	padding-left: 10px;
}

th {
	text-align: left;
	padding: 0;
}

#cardholder .game_head {
	text-align: center;
}

#cardholder .market {
	width: 70px;
	text-align: center;
}

#cardholder .bet1, #cardholder .bet2, #cardholder .bet3 {
	text-align: center;
}

@media screen and (max-width: 706px) {
	.header {
		font-size: 14px;
		height: 30px;
	}

	#cardholder .market {
		width: 60px;
		padding-left: 10px;
	}

	#cardholder .game_head {
		text-align: center;
		width: 50px;
	}
}

@media screen and (max-width: 669px) {
	#parent_holder {
		display: none;
	}
}



