* {
	box-sizing: border-box;
}

#parent_holder {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#cardholder {
	width: 100%;
	overflow: hidden;
}

table {
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	display: table;
	border-color: grey;
}

#cardholder > thead {
	top: 60px; 
	width: 720px;	
}

.header {
	font-size: 16px;
	background-color: #fff;
	border-bottom: 1px solid #000;
}

.header th {
	border: none;
	vertical-align: middle;
}

#cardholder .arb {
	width: 100px;
	padding-left: 10px;
}

th {
	text-align: left;
	padding: 0;
}




