.env
/node_modules
/database
controllers/scrapers/bet9ja/bet9ja.js
controllers/scrapers/naijabet/naijabet.js
controllers/scrapers/betking/betking.js
controllers/v0/utils
controllers/v0/dbops.js
/config/config.js
controllers/v0/users/models
controllers/v0/users/routes/user.auth.js
controllers/v0/users/routes/user.router.js
controllers/v0/arbs/routes/arbs.router.js
controllers/v0/root/models/TABLE_MODELS.js