.homepage-uppersection {
	padding: 15px;
}

.arb_logo_routes {
	font-size: 30px;
}

.homepage-text {
	margin-bottom: 50px;
}

.homepage-text p {
	font-weight: bold;
	font-size: 28px;
}

.homepage-container .homepage-smalltext {
	font-weight: bold;
	font-size: 12px;
}

.homepage-container .homepage-buttons div {
	border: 1px solid grey;
	margin-bottom: 13px;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	font-weight: bold;
}

.homepage-container .homepage-signup-button {
	background-color: grey;
	color: #fff;
}

.siginin-container {
	margin: 20px;
	text-align: center;
}

.siginin-container .signin-text {
	margin-top: 20px;
}

.siginin-container .signin-text p {
	font-weight: bold;
	font-size: 20px;
}

.siginin-container .siginin-input input {
	border: none;
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	border-bottom: 2px solid grey;
	border-radius: 0px;
	background-color: #F5F5F5;
	font-size: 18px;
}

.siginin-container .signin-login-button {
	border: 1px solid grey;
	margin-bottom: 13px;
	padding: 12px;
	text-align: center;
	border-radius: 20px;
	font-weight: bold;
	margin-top: 10px;
	color: #fff;
	background-color: grey;
}

.siginin-container .signin-footer {
	display: flex;
	justify-content: center;
}

.siginin-container .signin-footer p {
	font-size: 13px;
	width: 100%;
	color: grey;
}