@media screen and (max-width: 513px) {
	.footer {
		border: 1px solid transparent;
		height: 8vh;
		width: 100%;
		bottom: 0px;
		margin: 0px;
		width: 100%;
		position: fixed;
		background-color: #fff;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.icon {
		font-size: 20px;
	}

	.icon-new {
		color: rgb(0, 0, 0, 0.5);
		font-size: 20px;
	}
		
}

@media screen and (min-width: 514px) {
	.footer {
		display: none;
	}
}
 
