.top_header {
	background-color: #fff;
	z-index: 10;
	width: 100%;
	box-shadow: 0px 0px 4px 0px; 
}

.navbar {
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-gap: 5px;
}

.navbar > div {
	padding: 2px;
}

.navbar .user, .navbar .logo {
	text-align: center;
	padding-top: 5px;
}

.navbar .logo {
	padding-top: 2px;
}

@media screen and (min-width: 513px) {
	header {
		top: 0px;
		margin: 0px;
		max-width: 100%;
		position: fixed;
	}
}