.top_header {
	background-color: #fff;
	z-index: 10;
	width: 100%;
}

.navbar {
	padding: 9px;
	display: flex;
	justify-content: space-between;
}

.navbar > div {
	padding: 2px;
}

@media screen and (min-width: 513px) {
	header {
		top: 0px;
		margin: 0px;
		max-width: 100%;
		position: fixed;
	}
}